In [1]:
import json,os
import pandas as pd

In [2]:
H_UserName = []
H_Date = []
H_Time = []
H_Value = []

S_UserName =[]
S_Date = []
S_Time = []
S_Hour = []
S_Minute = []
S_Steps = []

SL_UserName =[]
SL_Date = []
SL_StartTime = []
SL_MinutesASleep =[]
SL_MinutesAWake =[]
SL_TimeInBed = []

FL = [x for x in os.listdir('sokulee/') if x.find("A") != -1 ]

for Name in FL:
    DL = [x for x in os.listdir('sokulee/'+Name) if x.find("A") != -1 ]
    for AllData in DL:
        with open('sokulee/'+Name+'/'+AllData) as json_file:
            json_data = json.load(json_file)
            if 'errors' in json_data.keys():
                continue
            if AllData.split('_')[2] == 'heart.json' :
                HeartData = json_data['activities-heart-intraday']['dataset']
                i = 0
                while i < len(HeartData) :
                    H_UserName.append(Name)
                    H_Date.append(json_data['activities-heart'][0]['dateTime'])
                    H_Time.append(HeartData[i]['time'])
                    H_Value.append(HeartData[i]['value'])
                    i = i + 1
            if AllData.split('_')[2] == 'steps.json' :
                StepData = json_data['activities-steps-intraday']['dataset']
                i = 0
                while i < len(StepData) :
                    S_UserName.append(Name)
                    S_Date.append(json_data['activities-steps'][0]['dateTime'])
                    S_Time.append(StepData[i]['time'])
                    S_Hour.append(int(StepData[i]['time'].split(':')[0]))
                    S_Minute.append(int(StepData[i]['time'].split(':')[1]))
                    S_Steps.append(StepData[i]['value'])
                    i = i + 1
            if AllData.split('_')[2] == 'sleep.json' :
                SleepData = json_data['sleep']
                if len(SleepData) > 0 :
                    SL_UserName.append(Name)
                    SL_Date.append(SleepData[0]['dateOfSleep'])
                    SL_StartTime.append(SleepData[0]['startTime'].split('T')[1][:8])
                    SL_MinutesASleep.append(SleepData[0]['minutesAsleep'])
                    SL_MinutesAWake.append(SleepData[0]['minutesAwake'])
                    SL_TimeInBed.append(SleepData[0]['timeInBed'])

In [3]:
df_Heart = pd.DataFrame()
df_Heart['USERNAME'] = H_UserName
df_Heart['DATE'] = H_Date
df_Heart['TIME'] = H_Time
df_Heart['VALUE'] = H_Value
df_Heart.head(5)

  USERNAME        DATE      TIME  VALUE
0      A01  2016-04-01  00:00:00     79
1      A01  2016-04-01  00:01:00     80
2      A01  2016-04-01  00:02:00     78
3      A01  2016-04-01  00:03:00     73
4      A01  2016-04-01  00:04:00     77

In [ ]:
df_Step = pd.DataFrame()
df_Step['USERNAME'] = S_UserName
df_Step['DATE'] = S_Date
df_Step['TIME'] = S_Time
df_Step['HOUR'] = S_Hour
df_Step['MINUTE'] = S_Minute
df_Step['STEPS'] = S_Steps
df_Step.head()

  USERNAME        DATE      TIME  HOUR  MINUTE  STEPS
0      A01  2016-04-01  00:00:00     0       0      0
1      A01  2016-04-01  00:01:00     0       1      0
2      A01  2016-04-01  00:02:00     0       2      0
3      A01  2016-04-01  00:03:00     0       3      0
4      A01  2016-04-01  00:04:00     0       4      0

In [ ]:
df_Sleep = pd.DataFrame()
df_Sleep['USERNAME'] = SL_UserName
df_Sleep['DATE'] = SL_Date
df_Sleep['STARTTIME'] = SL_StartTime
df_Sleep['MINUTESASLEEP'] = SL_MinutesASleep
df_Sleep['MINUTESAWAKE'] = SL_MinutesAWake
df_Sleep['TIMEINBED'] = SL_TimeInBed
df_Sleep.head()

  USERNAME        DATE STARTTIME  MINUTESASLEEP  MINUTESAWAKE  TIMEINBED
0      A01  2016-04-01  02:39:00            485            26        511
1      A01  2016-04-02  02:09:00            512            37        549
2      A01  2016-04-04  01:52:30            335            11        346
3      A01  2016-04-05  02:04:00            311            24        335
4      A01  2016-04-06  01:49:00            491            59        551

In [ ]:
df_Heart.to_csv("./data/all_user_hearts.csv", index = False)
df_Step.to_csv("./data/all_user_steps.csv", index = False)
df_Sleep.to_csv("./data/all_user_sleeps.csv", index = False)