In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
train_data = pd.read_csv('./Tashu/total_rent.csv')
train_data['MONTH'] = train_data['MONTH'].astype('object')
train_data['HOUR'] = train_data['HOUR'].astype('object')
train_data['WEEKDAY'] = train_data['WEEKDAY'].astype('object')
train_data['SEASON'] = train_data['SEASON'].astype('object')
train_data.head(5)

,STATION,TEMPERATURE,RAINFALL,WINDSPEED,HUMIDITY,SNOWFALL,YEAR,MONTH,DAY,HOUR,WEEKDAY,SEASON,Count
0,1,-8.8,0.0,0.1,90.0,8.8,2013,1,1,0,1,3,0.0
1,1,-8.5,0.0,0.9,90.0,8.8,2013,1,1,1,1,3,0.0
2,1,-8.5,0.0,1.0,89.0,8.8,2013,1,1,2,1,3,0.0
3,1,-9.0,0.0,0.7,91.0,8.8,2013,1,1,3,1,3,0.0
4,1,-9.1,0.0,0.6,92.0,8.8,2013,1,1,4,1,3,0.0

In [3]:
train_data = train_data.fillna(0)
del train_data['STATION']
del train_data['YEAR']
del train_data['DAY']
train_data.head()

,TEMPERATURE,RAINFALL,WINDSPEED,HUMIDITY,SNOWFALL,MONTH,HOUR,WEEKDAY,SEASON,Count
0,-8.8,0.0,0.1,90.0,8.8,1,0,1,3,0.0
1,-8.5,0.0,0.9,90.0,8.8,1,1,1,3,0.0
2,-8.5,0.0,1.0,89.0,8.8,1,2,1,3,0.0
3,-9.0,0.0,0.7,91.0,8.8,1,3,1,3,0.0
4,-9.1,0.0,0.6,92.0,8.8,1,4,1,3,0.0

In [6]:
X_train = train_data.iloc[:, :-1].values
y_train = train_data.iloc[:, -1].values

In [ ]:
# Randomforest를 통한 학습 진행 tree 개수는 50개 
rf = RandomForestRegressor(n_estimators= 50)
rf.fit(X_train, y_train)

In [ ]:
Importance = np.rou nd(rf.feature_importances_,2)
print(Importance)

In [ ]:
TrainColume = ('TEMPERATURE','RAINFALL','WINDSPEED','HUMIDITY','SNOWFALL','MONTH','HOUR','WEEKDAY','SEASON')
df ={'Imt' : Importance, 'Colume' : TrainColume}
df = pd.DataFrame(df)
print(df)

In [ ]:
ax = sns.barplot(x=df['Imt'], y=df['Colume'])
ax.set(xlabel='Importance', ylabel='Variable')
plt.title('The number of rented bike by weekday')
plt.show()